*,
*::before,
*::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Merriweather', serif;
}

:root{
     --colorDark1:#11204E;
     --colorDark2:#3F72AF;
     --colorLight1:#1d2128;
     --colorLight2:#F9F7F7;
}


.wrapper{
     width:100vw;
     height: 100vh;
     color:var(--colorLight1);
     background-color: #5eb8d6;
     transition: all 0.5s linear ;

}


.wrapper.dark{
     background-image: none;
     background-color: #0e1835;
     color: var(--colorLight2);
}


h1{
     text-align: center;
     text-transform: uppercase;
     /* padding-top: 20px; */
     color: black;
     font-weight: bold;
}

.tab-container{
     width: 90%;
     display: flex;
     justify-content: space-between;
     max-width: 550px;
     margin-top: 4rem;
     margin-left: auto;
     margin-right: auto;
}

.tab{
     cursor: pointer;
     font-size: 0.875rem;
     letter-spacing: 1.75px;
     padding: 5px 8px;
}

.tab.current-tab{
     background-color: rgba(219,225,239,0.5);
     border-radius: 4px;
}

.weather-container{
     display: flex;
     justify-content:center;
     align-items:center;
     flex-direction: column;
     margin-block:4rem;
     
}

.btn{
     /* default styling hata deta hai button ki
     */
     all: unset; 
     font-size: 0.85rem;
     text-transform: uppercase;
     border-radius: 5px;
     background-color: var(--colorDark2);
     cursor: pointer;
     padding: 10px 30px;
     margin-bottom: 10px;
     border:1px solid wheat;
}


.sub-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.grant-location-container{
     display:none

}

.grant-location-container.active{
     display: flex;
}

.grant-location-container img{
     margin-bottom: 2rem;
}

.grant-location-container p:first-of-type{
     font-size: 1.75rem;
     font-weight: 600;
}


.grant-location-container p:last-of-type{
     font-size: 0.875rem;
     font-weight: 500;
     margin-top: 0.75rem;
     margin-bottom: 1.75rem;
     letter-spacing: 0.75px;

}

.loading-container{
     display: none;

}
.loading-container.active{
     display: flex;
}

.loading-container p{
     text-transform: uppercase;
     text-align: center;
}

.user-info-container{
     display: none;

}

.user-info-container.active{
     display: flex;
     width: 90%;
}

.name{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 0 0.5rem;
     margin-bottom: 1rem;
}

.name p{
     font-size: 2rem;

}

.name img{
     width: 30px;
     height: 30px;
     
}

.user-info-container>p{
     font-size: 1.5rem;
     font-weight: 200;
}

.user-info-container > img{
     width: 90px;
     height: 90px;
}

.user-info-container p[data-temp]{
     font-size: 2.75rem;
     font-weight:700;
}

.parameter-container{
     display: flex;
     gap: 10px 20px;
     justify-content: center;
     align-items: center;
     margin-top:2rem;
     flex-wrap: wrap;
     width: 90%;
     
     
}

.parameter{
     width: 30%;
     max-width: 200px;
     background-color: rgba(219,226,239,0.7);
     border-radius: 5px;
     padding: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     gap: 5px;
}

.parameter img{
     width: 50px;
     height: 50px;
}

.paramter  p:first-of-type{
     text-transform: uppercase;
     font-weight: 600;
     text-transform: uppercase;
}

.parameter p:last-of-type{
      font-size: 1rem;
      font-weight: 200;

}


.form-container{
     display: none;
     width: 90%;
     max-width: 550px;
     margin: 0 auto;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-bottom: 3rem;   
}

.form-container.active{
     display: flex;
}

.form-container input{
     all: unset;
     width: calc(100% - 80px);
     height: 40px;
     padding: 0 20px;
     background-color:rgba(219, 226, 239, 0.5);
     border-radius: 10px;

}

.form-container input::placeholder{
     color: white;
}

.form-container .btn{
     padding: unset;
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items:center;
     border-radius:50%;
     margin-bottom: 0;
}


.form-container input:focus{
     outline:3px solid white;
}

@media only screen and (max-width: 376px) {
     body {
       background-color: lightblue;
     }

     .parameter-container{
          /* position: absolute; */
          width: 100vw;
          gap: 10px;
          margin-top: 0.5rem;
     }
     .parameter{
          width: 25%;
     }
     .parameter p{
          font-size: 0.75rem;
     }

     .form-container{
          margin-bottom: 1rem;
     }

     .tab-container{
          margin-top: 1rem;
     }
   }

   .error-container{
     display: none;
   }
   .error-container img{
     width: 150px;
     height: 150px;
   }

   .error-container.active{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

   .error-container p{
     align-items: center;
     font-size: 2rem;
   }

   .nav{
     margin:0 auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     height: 5rem;
     width: 100%;
     padding: 0.5rem;
     position:relative;
     background-color: rgba(255, 255, 255, 0.481);
   
     
   }

   
   .logo{
     height: 35px;
     width: 35px;

   }

   .theme{
     font-size: 35px;
   }

   @media only screen and (max-width: 281px) {
     h1{
          font-size: medium;

     }
     .nav{
          height: 50px;
     }
   }


h1.dark{
     color: white;
}
   